.simulation-card {
    padding: 3rem 3rem;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ececec;
    border-radius: 1rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.simulation-card .fw-bold,
.simulation-card .var {
    font-size: 1.2em;
}

.price {
    font-size: 2em;
    font-weight: bold;
    margin: 2.5rem 0;
}