.header {
    position: relative;
}

.header p {
    line-height: 1;
}

.sessions {
    position: relative;
}

.sessions div {
    margin: 2rem 0;
}

.info {
    margin: auto;
    width: 70%;
}

.info-image {
    margin: auto;
    margin-top: 1.5rem;
    min-width: 360px;
    width: 45%;
}

@media (min-width: 768px) {
    .sessions div {
        display: flex;
        justify-content: space-around;
        margin: 1rem 3rem;
    }

    .info {
        display: flex;
        justify-content: space-around;
        width: initial;
    }
}