.header {
    position: relative;
}

.header p {
    line-height: 1;
}

.sessions .session {
    margin: 2rem 0;
}

.info .details {
    margin: auto;
    width: 70%;
}

.info-image {
    margin: auto;
    min-width: 300px;
    width: 45%;
}

@media (min-width: 768px) {
    .sessions div {
        display: flex;
        justify-content: space-around;
        margin: 1rem 3rem;
    }

    .info .details {
        display: flex;
        justify-content: space-around;
        width: initial;
    }

    .info-image {
        width: 50%;
    }
}